html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #21a0a0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-size: 5rem;
  color: white;
  margin-bottom: 5rem;
}

h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 3rem;
}

.index-p {
  font-size: 2rem;
  color: white;
  margin-bottom: 4rem;
}

/* Inital styling to make the div contents centered, also added in some extra classes at the bottom in case of universal need */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.index-p {
  text-align: center;
}

/*background animation*/

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(0.4);
  }
}

/* button styles for the homepage*/
.btn {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: whitesmoke;
  background: #e53d00;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 1.2rem 0 black;
  transition: transform 100ms;
  transform: scale(1.01);
}

/* In case I don't want them you click anything*/
.btn[disable]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#database-btn {
  background: #046865;
}

#database-btn:hover {
  box-shadow: 0 0.2rem 1.2rem 0 black;
}

.fa-chess-rook {
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

.fa-chess {
  font-size: 5rem;
  margin-left: 1.5rem;
}

/* End Page Css */

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 white;
}

input::placeholder {
  color: grey;
}

#username {
  margin: 3rem 0;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color: white;
  text-align: center;
}

#saveScoreBtn {
  border: none;
}

.fa-home {
  margin-left: 1.2rem;
  font-size: 2rem;
  color: white;
}

.errorMessage {
  color: rgb(175, 0, 0);
  font-size: 1.5rem;
  margin-top: -20px;
  padding-bottom: 10%;
  display: none;
}
